body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.title-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}
.card img {
  height: 200px;
  float: left;
  margin-right: 50px;
  display:inline;
}
.card {
  width: 45%;
}
.left {   
  float: left;
}
.right {
  float: right;
} 
.highlight {
  color: midnightblue;
}
@media (max-width: 800px) {
  .card {
    width: 100%;
  }
  .title-image {
    float: none;
    margin-right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
}
@media (min-width: 801px) {
  .card {
    width: 45%;
  }
}
